<% @page_title = 'Admin menu' %>
<%= session[:user_id] %>
<div>
    <h2>Admin menu</h2>

    <div>Logged in as: </div>

    <ul>
        <li><%= link_to('Manage content', subjects_path) %></li>
        <li><%= link_to('Manage section', sections_path) %></li>
        <li><%= link_to('Logout', access_logout_path) %></li>
    </ul>
</div>
