<%= link_to('<< Back to List', pages_path, :class => 'back-link') %>

<div class="page edit">
    <h2>Edit page</h2>

    <%= form_for(@page) do |f| %>

        <%= render(:partial => 'form', :locals => {:f => f}) %>

        <%= f.submit('Update page') %>
    <% end %>
</div>
