<%= link_to('<< Back to List', pages_path(subject_id: @subject.id), :class => 'back-link') %>

<div class="page new">
    <h2>Add new page</h2>

    <%= form_for(@page, url: pages_path(@page, subject_id: @subject.id)) do |f| %>

        <%= render(:partial => 'form', :locals => {:f => f}) %>

        <%= f.submit('Create page') %>
    <% end %>
</div>
