<%= link_to('<< Back to List', subjects_path, :class => 'back-link') %>

<div class="subject edit">
    <h2>Edit subject</h2>

    <%= form_for(@subject) do |f| %>

        <%= render(:partial => 'form', :locals => {:f => f}) %>

        <%= f.submit('Edit subject') %>
    <% end %>
</div>
