<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%= stylesheet_link_tag('application.css', :media => 'all') %>

    <title>Simple CMS <%= " | #{@page_title}" if @page_title %></title>

    <style>
        span.status {
            display: block;
            width: 10px;
            height: 10px;
            margin: 0.25rem auto;
            padding: 0;
            border: 1px solid black;
        }
        span.status.true {
            background-color: lightgreen;
            color: darkgreen;
        }

        span.status.false{
            background-color: lightpink;
            color: deeppink;
        }
    </style>
</head>
<body>
    <nav>
        <%= render(partial: 'layouts/navigation', locals: { subjects: @subjects }) %>
    </nav>
    <%= yield %>
</body>
</html>